---
import Layout from "../layouts/Layout.astro";
import { Image } from 'astro:assets';
import MarqueeComponent from "../components/MarqueeComponent.astro";
import MarqueeItemComponent from "../components/MarqueeItemComponent.astro";
import ServicesComponent from "../components/ServicesComponent.astro";

import ConeImage from "assets/img/home-3/cone.webp";
import DonutImage from "assets/img/home-3/donut.webp";
import GridImage from "assets/img/home-3/ilust-grids.webp";
import StarImage from "assets/img/home-3/star.svg";
import CirkusLogo from "assets/img/partners/cirkus-logo.svg";
import BMWLogo from "assets/img/partners/bmw-group.svg";
import PluriaLogo from "assets/img/partners/logo-pluria.svg";
import WebChainLogo from "assets/img/partners/logo_webchain_transparent_alb.png";
import BrightPinkLogo from "assets/img/partners/bright-se-logo.svg";
import Go1Logo from "assets/img/partners/go-1-logo.svg";
import JBALogo from "assets/img/partners/jba-group-logo.svg";
import ScrollDownIcon from "assets/img/icons/scroll_down.svg";

---

<Layout title="Jay - Software Agency and creative IT solutions">
    <!-- Start Banner section -->
    <div class="banner-area3">
      <div class="scroll-down">
        <a href="#home3-partner-area">
          Scroll Down
          <span>
            <Image src={ScrollDownIcon} alt="scroll down icon" />
          </span>
        </a>
      </div>
      <div class="banner-vector">
        <img
          class="img-fluid"
          src="assets/img/home-3/banner-vector.png"
          alt=""
        />
      </div>
      <div class="swiper-pagination1"></div>
      <div class="social-area">
        <ul>
          <li>
            <a href="https://www.facebook.com/jaysoftwarero/" aria-label="Facebook"
              ><i class="bx bxl-facebook"></i></a>
          </li>
          <li>
            <a href="https://ro.linkedin.com/company/jaysoftware" aria-label="LinkedIn"
              ><i class="bx bxl-linkedin"></i></a
            >
          </li>
          <li>
            <a href="https://www.instagram.com/jay_software/" aria-label="Instagram"
              ><i class="bx bxl-instagram"></i></a>
          </li>
        </ul>
      </div>
      <div class="banner3-slider">
        <div class="banner-wrapper">
          <div class="banner-content">
            <h1>Turn your idea into a market ready product</h1>
            <p>
              Transform your startup’s vision into reality with our custom
              software solutions. Elevate your brand and engage your audience
              through tailored development.
            </p>
            <div class="banner-btn-group">
              <a class="primary-btn3 inline-flex" href="#contact"
                >Let's Talk
                <svg
                  width="27"
                  height="27"
                  viewBox="0 0 27 27"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M8.08285 6.65259H19.9995V18.5693H17.8328V10.3513L8.08285 20.1013L6.55078 18.5693L16.3008 8.81925H8.08285V6.65259Z"
                    fill="currentColor"></path>
                </svg>
              </a>
            </div>
          </div>
          <div>
            <Image class="img-fluid  hidden lg:block" src={ConeImage} height={500} width={500} alt="" loading="eager" />
          </div>
          <div>
            <Image class="img-fluid  hidden lg:block" src={DonutImage} height={500} width={500} alt="" loading="eager" />
          </div>
        </div>
      </div>
    </div>
    <!-- End Banner section -->
    <!-- Start Partner section -->
    <div class="home3-partner-area" id="home3-partner-area">
      <div class="container-fluid">
        <div class="grid grid-cols-1 md:grid-cols-[1fr_10px_3fr] gap-2">
          <div class="flex items-center font-saira font-semibold text-5xl leading-10 capitalize text-white mb-0 max-w-250 w-full">
            <h3>Our Collaborators</h3>
          </div>
          <span class="h-full w-1 bg-opacity-10 bg-white"></span>
           <MarqueeComponent>
            <MarqueeItemComponent imgSrc={CirkusLogo} alt="Cirkus | Task Management Software" />
            <MarqueeItemComponent imgSrc={StarImage} alt="" />
            <MarqueeItemComponent imgSrc={BMWLogo} alt="BMWGroup | Automotive Industry" />
            <MarqueeItemComponent imgSrc={StarImage} alt="" />
            <MarqueeItemComponent imgSrc={PluriaLogo} alt="Pluria | Coworking Management Software" />
            <MarqueeItemComponent imgSrc={StarImage} alt="" />
            <MarqueeItemComponent imgSrc={WebChainLogo} alt="Webchain | Outsourcing Industry" />
            <MarqueeItemComponent imgSrc={StarImage} alt="" />
            <MarqueeItemComponent imgSrc={BrightPinkLogo} alt="Bright Pink Agency | Marketing Agency" />
            <MarqueeItemComponent imgSrc={StarImage} alt="" />
            <MarqueeItemComponent imgSrc={Go1Logo} alt="Go1 | Learning Platform" />
            <MarqueeItemComponent imgSrc={StarImage} alt="" />
            <MarqueeItemComponent imgSrc={JBALogo} alt="JBA | Mapping and Flood Risk Management" />
            <MarqueeItemComponent imgSrc={StarImage} alt="" />
            <MarqueeItemComponent imgSrc={CirkusLogo} alt="Cirkus | Task Management Software" />
            <MarqueeItemComponent imgSrc={StarImage} alt="" />
            <MarqueeItemComponent imgSrc={BMWLogo} alt="BMWGroup | Automotive Industry" />
            <MarqueeItemComponent imgSrc={StarImage} alt="" />
            <MarqueeItemComponent imgSrc={PluriaLogo} alt="Pluria | Coworking Management Software" />
            <MarqueeItemComponent imgSrc={StarImage} alt="" />
            <MarqueeItemComponent imgSrc={WebChainLogo} alt="Webchain | Outsourcing Industry" />
            <MarqueeItemComponent imgSrc={StarImage} alt="" />
            <MarqueeItemComponent imgSrc={BrightPinkLogo} alt="Bright Pink Agency | Marketing Agency" />
            <MarqueeItemComponent imgSrc={StarImage} alt="" />
            <MarqueeItemComponent imgSrc={Go1Logo} alt="Go1 | Learning Platform" />
            <MarqueeItemComponent imgSrc={StarImage} alt="" />
            <MarqueeItemComponent imgSrc={JBALogo} alt="JBA | Mapping and Flood Risk Management" />
            <MarqueeItemComponent imgSrc={StarImage} alt="" />
            <MarqueeItemComponent imgSrc={CirkusLogo} alt="Cirkus | Task Management Software" />
            <MarqueeItemComponent imgSrc={StarImage} alt="" />
            <MarqueeItemComponent imgSrc={BMWLogo} alt="BMWGroup | Automotive Industry" />
            <MarqueeItemComponent imgSrc={StarImage} alt="" />
            <MarqueeItemComponent imgSrc={PluriaLogo} alt="Pluria | Coworking Management Software" />
            <MarqueeItemComponent imgSrc={StarImage} alt="" />
            <MarqueeItemComponent imgSrc={WebChainLogo} alt="Webchain | Outsourcing Industry" />
            <MarqueeItemComponent imgSrc={StarImage} alt="" />
            <MarqueeItemComponent imgSrc={BrightPinkLogo} alt="Bright Pink Agency | Marketing Agency" />
            <MarqueeItemComponent imgSrc={StarImage} alt="" />
            <MarqueeItemComponent imgSrc={Go1Logo} alt="Go1 | Learning Platform" />
            <MarqueeItemComponent imgSrc={StarImage} alt="" />
            <MarqueeItemComponent imgSrc={JBALogo} alt="JBA | Mapping and Flood Risk Management" />
            <MarqueeItemComponent imgSrc={StarImage} alt="" />
          <MarqueeComponent>
        </div>
      </div>
    </div>
    <!-- End Partner section -->
    <!-- Start Solution Section -->
    <ServicesComponent />
    <!-- End Solution Section -->

    <!-- Start About Section -->
    <div id="about" class="home3-about-section sec-mar">
      <div class="container">
        <div class="row g-lg-4 gy-5">
          <div class="col-lg-12">
            <div
              class="section-title-3 wow animate fadeInUp"
              data-wow-delay="200ms"
              data-wow-duration="1500ms"
            >
              <h2 aria-label="Our Approach">Our Approach</h2>
            </div>
            <div class="about-left">
              <div
                class="about-content wow animate fadeInUp"
                data-wow-delay="400ms"
                data-wow-duration="1500ms"
              >
                <div class="devider"></div>
                <ul class="about-feature">
                  <li>
                    <h5 aria-label="Discover & Define">1. Discover & Define</h5>
                    <p>
                      A mapping of all the flows of the platform is carried out, to analyze and
                      evaluate the complexity and determinate possible solutions that can be
                      given to our problem.
                    </p>
                  </li>
                  <li>
                    <h5 aria-label="Conceptualize">2. Conceptualize</h5>
                    <p>
                      Ideation of visual solutions for evaluated flows, also with rapid
                      prototyping to test the effectiveness of these solutions. Raise front-end
                      impact if necessary.
                    </p>
                  </li>
                  <li>
                    <h5 aria-label="Build">3. Build</h5>
                    <p>
                      Implement the product solutions, optimize your systems and increase the
                      engagement of your platform.
                    </p>
                  </li>
                  <li>
                    <h5 aria-label="Maintain">4. Maintain</h5>
                    <p>
                      Efficiently maintain and continuously improve your digital product to
                      ensure ROI and ongoing value for your customers.
                    </p>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- End About Section -->

    <!-- Start CTA Section -->
    <div class="home3-cta-section">
      <div class="container">
        <div class="row flex items-center">
          <div class="col-lg-9">
            <div class="section-title-3 wow animate fadeInUp">
              <h2 aria-label="We serve as your dedicated SWAT team, enhancing new ideas & existing products into customized, polished, and scalable solutions">
                We serve as your dedicated SWAT team, enhancing new ideas &
                existing products into customized, polished, and scalable
                solutions
              </h2>
            </div>
          </div>
          <div class="col-lg-3">
            <div class="banner-btn-group">
              <a class="primary-btn inline-flex" href="#contact"
                >Let's Talk
                <svg
                  width="27"
                  height="27"
                  viewBox="0 0 27 27"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M8.08285 6.65259H19.9995V18.5693H17.8328V10.3513L8.08285 20.1013L6.55078 18.5693L16.3008 8.81925H8.08285V6.65259Z"
                    fill="currentColor"></path>
                </svg>
              </a>
            </div>
            <Image
              class="img-fluid decorative hidden md:block"
              src={GridImage}
              loading="eager"
              alt=""
            />
          </div>
        </div>
      </div>
    </div>
    <!-- End CTA Section -->

    <!-- Start Contact section -->
    <div class="home3-contact-area">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
              <div class="contact-page-wrap sec-mar text-center">
                <div id="contact"  class="container">
                  <div class="row g-lg-4 gy-5 justify-center">
                    <div class="col-lg-12">
                      <div class="contact-content">
                        <h2>
                          Get in touch
                        </h2>
                      </div>
                    </div>
                    <div class="col-lg-6">
                      <div class="contact-form-wrap">
                        <div class="form-tltle">
                          <h3 class="text-2xl text-white">
                            Let’s transform your business
                          </h3>
                          <p class="text-white">You can reach us anytime via <a href="mailto:info@jay-software.com">info@jay-software.com</a></p>
                        </div>
                        <div class="contact-form">
                          <form
                            action="https://formspree.io/f/mqkrgoeq"
                            method="POST"
                          >
                            <div class="row text-left">
                              <div class="col-lg-12 mb-4">
                                <div class="form-inner">
                                  <label for="email">Email</label>
                                  <input type="email" name="email" id="email"/>
                                </div>
                              </div>
                              <div class="col-lg-12 mb-4">
                                <div class="form-inner">
                                  <label for="message">Message</label>
                                  <textarea name="message" id="message"></textarea>
                                </div>
                              </div>
                              <div class="col-lg-12 mb-4">
                                <div class="form-inner">
                                  <input required type="checkbox" name="privacy" id="privacy">
                                  <label for="privacy">You agree to our friendly <a href="/privacy" target="_blank">privacy policy</a></label>
                                </div>
                              </div>
                              <div class="col-lg-12">
                                <div class="form-inner">
                                  <button class="primary-btn3 text-white" type="submit"
                                    >Send</button
                                  >
                                </div>
                              </div>
                            </div>
                          </form>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
        </div>
      </div>
    </div>
    <!-- End Contact section -->
</Layout>
