---
import Layout from "../layouts/Layout.astro";
import { Image } from 'astro:assets';
import MarqueeComponent from "../components/MarqueeComponent.astro";
import MarqueeItemComponent from "../components/MarqueeItemComponent.astro";
import ServicesComponent from "../components/ServicesComponent.astro";

import ConeImage from "assets/img/home-3/cone.webp";
import DonutImage from "assets/img/home-3/donut.webp";
import GridImage from "assets/img/home-3/ilust-grids.webp";
import StarImage from "assets/img/home-3/star.svg";
import CirkusLogo from "assets/img/partners/cirkus-logo.svg";
import BMWLogo from "assets/img/partners/bmw-group.svg";
import PluriaLogo from "assets/img/partners/logo-pluria.svg";
import WebChainLogo from "assets/img/partners/logo_webchain_transparent_alb.png";
import BrightPinkLogo from "assets/img/partners/bright-se-logo.svg";
import Go1Logo from "assets/img/partners/go-1-logo.svg";
import JBALogo from "assets/img/partners/jba-group-logo.svg";
import ScrollDownIcon from "assets/img/icons/scroll_down.svg";
import ArrowUpIcon from "assets/img/icons/arrow_up.svg";
import WebApplicationsIcon from "assets/img/services/web_applications.svg";
import CustomSoftwareIcon from "assets/img/services/custom_software.svg";
import SystemsIntegrationsIcon from "assets/img/services/systems_integration.svg";
import MobileApplicationsIcon from "assets/img/services/mobile_applications.svg";
import DevopsIcon from "assets/img/services/devops.svg";
import AIMLIcon from "assets/img/services/aiml.svg";
---

<Layout title="Jay - Software Agency and creative IT solutions">
    <!-- Start Banner section -->
    <div class="banner-area3">
      <div class="scroll-down">
        <a href="#home3-partner-area">
          Scroll Down
          <span>
            <Image src={ScrollDownIcon} alt="scroll down icon" />
          </span>
        </a>
      </div>
      <div class="banner-vector">
        <img
          class="img-fluid"
          src="assets/img/home-3/banner-vector.png"
          alt=""
        />
      </div>
      <div class="swiper-pagination1"></div>
      <div class="social-area">
        <ul>
          <li>
            <a href="https://www.facebook.com/jaysoftwarero/" aria-label="Facebook"
              ><i class="bx bxl-facebook"></i></a>
          </li>
          <li>
            <a href="https://ro.linkedin.com/company/jaysoftware" aria-label="LinkedIn"
              ><i class="bx bxl-linkedin"></i></a
            >
          </li>
          <li>
            <a href="https://www.instagram.com/jay_software/" aria-label="Instagram"
              ><i class="bx bxl-instagram"></i></a>
          </li>
        </ul>
      </div>
      <div class="banner3-slider">
        <div class="banner-wrapper">
          <div class="banner-content">
            <h1>Turn your idea into a market ready product</h1>
            <p>
              Transform your startup’s vision into reality with our custom
              software solutions. Elevate your brand and engage your audience
              through tailored development.
            </p>
            <div class="banner-btn-group">
              <a class="primary-btn3 inline-flex" href="#contact"
                >Let's Talk
                <Image src={ArrowUpIcon} alt="let's talk icon" />
              </a>
            </div>
          </div>
          <div>
            <Image class="img-fluid  hidden lg:block" src={ConeImage} height={500} width={500} alt="" loading="eager" />
          </div>
          <div>
            <Image class="img-fluid  hidden lg:block" src={DonutImage} height={500} width={500} alt="" loading="eager" />
          </div>
        </div>
      </div>
    </div>
    <!-- End Banner section -->
    <!-- Start Partner section -->
    <div class="home3-partner-area" id="home3-partner-area">
      <div class="container-fluid">
        <div class="grid grid-cols-1 md:grid-cols-[1fr_10px_3fr] gap-2">
          <div class="flex items-center font-saira font-semibold text-5xl leading-10 capitalize text-white mb-0 max-w-250 w-full">
            <h3>Our Collaborators</h3>
          </div>
          <span class="h-full w-1 bg-opacity-10 bg-white"></span>
           <MarqueeComponent>
            <MarqueeItemComponent imgSrc={CirkusLogo} alt="Cirkus | Task Management Software" />
            <MarqueeItemComponent imgSrc={StarImage} alt="" />
            <MarqueeItemComponent imgSrc={BMWLogo} alt="BMWGroup | Automotive Industry" />
            <MarqueeItemComponent imgSrc={StarImage} alt="" />
            <MarqueeItemComponent imgSrc={PluriaLogo} alt="Pluria | Coworking Management Software" />
            <MarqueeItemComponent imgSrc={StarImage} alt="" />
            <MarqueeItemComponent imgSrc={WebChainLogo} alt="Webchain | Outsourcing Industry" />
            <MarqueeItemComponent imgSrc={StarImage} alt="" />
            <MarqueeItemComponent imgSrc={BrightPinkLogo} alt="Bright Pink Agency | Marketing Agency" />
            <MarqueeItemComponent imgSrc={StarImage} alt="" />
            <MarqueeItemComponent imgSrc={Go1Logo} alt="Go1 | Learning Platform" />
            <MarqueeItemComponent imgSrc={StarImage} alt="" />
            <MarqueeItemComponent imgSrc={JBALogo} alt="JBA | Mapping and Flood Risk Management" />
            <MarqueeItemComponent imgSrc={StarImage} alt="" />
            <MarqueeItemComponent imgSrc={CirkusLogo} alt="Cirkus | Task Management Software" />
            <MarqueeItemComponent imgSrc={StarImage} alt="" />
            <MarqueeItemComponent imgSrc={BMWLogo} alt="BMWGroup | Automotive Industry" />
            <MarqueeItemComponent imgSrc={StarImage} alt="" />
            <MarqueeItemComponent imgSrc={PluriaLogo} alt="Pluria | Coworking Management Software" />
            <MarqueeItemComponent imgSrc={StarImage} alt="" />
            <MarqueeItemComponent imgSrc={WebChainLogo} alt="Webchain | Outsourcing Industry" />
            <MarqueeItemComponent imgSrc={StarImage} alt="" />
            <MarqueeItemComponent imgSrc={BrightPinkLogo} alt="Bright Pink Agency | Marketing Agency" />
            <MarqueeItemComponent imgSrc={StarImage} alt="" />
            <MarqueeItemComponent imgSrc={Go1Logo} alt="Go1 | Learning Platform" />
            <MarqueeItemComponent imgSrc={StarImage} alt="" />
            <MarqueeItemComponent imgSrc={JBALogo} alt="JBA | Mapping and Flood Risk Management" />
            <MarqueeItemComponent imgSrc={StarImage} alt="" />
            <MarqueeItemComponent imgSrc={CirkusLogo} alt="Cirkus | Task Management Software" />
            <MarqueeItemComponent imgSrc={StarImage} alt="" />
            <MarqueeItemComponent imgSrc={BMWLogo} alt="BMWGroup | Automotive Industry" />
            <MarqueeItemComponent imgSrc={StarImage} alt="" />
            <MarqueeItemComponent imgSrc={PluriaLogo} alt="Pluria | Coworking Management Software" />
            <MarqueeItemComponent imgSrc={StarImage} alt="" />
            <MarqueeItemComponent imgSrc={WebChainLogo} alt="Webchain | Outsourcing Industry" />
            <MarqueeItemComponent imgSrc={StarImage} alt="" />
            <MarqueeItemComponent imgSrc={BrightPinkLogo} alt="Bright Pink Agency | Marketing Agency" />
            <MarqueeItemComponent imgSrc={StarImage} alt="" />
            <MarqueeItemComponent imgSrc={Go1Logo} alt="Go1 | Learning Platform" />
            <MarqueeItemComponent imgSrc={StarImage} alt="" />
            <MarqueeItemComponent imgSrc={JBALogo} alt="JBA | Mapping and Flood Risk Management" />
            <MarqueeItemComponent imgSrc={StarImage} alt="" />
          <MarqueeComponent>
        </div>
      </div>
    </div>
    <!-- End Partner section -->
    <!-- Start Solution Section -->
    <section class="bg-gray-900 text-white">
      <div class="mx-auto max-w-screen-xl px-4 py-8 sm:px-6 sm:py-12 lg:px-8 lg:py-16">
        <div class="mx-auto max-w-lg text-center">
          <h2 class="text-3xl font-bold sm:text-4xl">Our Software Development Services</h2>
    
          <p class="mt-4 text-gray-300">
              Below, you'll discover a comprehensive list of solutions we offer as your trusted development partner.
          </p>
        </div>
    
        <div class="mt-8 grid grid-cols-1 gap-8 md:grid-cols-2 lg:grid-cols-3">
          <a
            class="block rounded-xl border border-gray-800 p-8 shadow-xl transition hover:border-blue-500/10 hover:shadow-blue-500/10"
            href="#contact"
          >
            <Image src={WebApplicationsIcon} alt="Web Applications Development Icon" />
    
            <h2 class="mt-4 text-xl font-bold text-white">Web Applications</h2>
    
            <p class="mt-1 text-sm text-gray-300">
              Dynamic web applications designed to enhance user experience and meet business objectives.
            </p>
          </a>
    
          <a
            class="block rounded-xl border border-gray-800 p-8 shadow-xl transition hover:border-blue-500/10 hover:shadow-blue-500/10"
            href="#contact"
          >
              <Image src={CustomSoftwareIcon} alt="Custom Software Development Icon" />
            <h2 class="mt-4 text-xl font-bold text-white">Custom Software</h2>
    
            <p class="mt-1 text-sm text-gray-300">
              Deploy your Minimum Viable Product (MVP), streamline
                          your systems, or elevate your digital product to new
                          heights. We deliver on time.
            </p>
          </a>
    
          <a
            class="block rounded-xl border border-gray-800 p-8 shadow-xl transition hover:border-blue-500/10 hover:shadow-blue-500/10"
            href="#contact"
          >
              <Image src={SystemsIntegrationsIcon} alt="Systems Integrations Icon" />
    
            <h2 class="mt-4 text-xl font-bold text-white">System integrations</h2>
    
            <p class="mt-1 text-sm text-gray-300">
              Integrate diverse platforms smoothly; achieve unified
                          operations and enhanced efficiency with us.
            </p>
          </a>
    
          <a
            class="block rounded-xl border border-gray-800 p-8 shadow-xl transition hover:border-blue-500/10 hover:shadow-blue-500/10"
            href="#contact"
          >
          <Image src={MobileApplicationsIcon} alt="Mobile Applications Icon" />
    
            <h2 class="mt-4 text-xl font-bold text-white">Mobile Solutions</h2>
    
            <p class="mt-1 text-sm text-gray-300">
              Go mobile to better interact with your target audience, automate and optimize daily operations, unlock new revenue streams and make most out of what native or hybrid mobile applications can offer
            </p>
          </a>
  
          <a
          class="block rounded-xl border border-gray-800 p-8 shadow-xl transition hover:border-blue-500/10 hover:shadow-blue-500/10"
          href="#contact"
          >
          <Image src={DevopsIcon} alt="Devops Icon" />
  
              <h2 class="mt-4 text-xl font-bold text-white">DevOps</h2>
  
              <p class="mt-1 text-sm text-gray-300">
                  Analysis of the existing release processes and systems, automation, development of systems and tools, and release execution.
              </p>
          </a>
  
          <a
          class="block rounded-xl border border-gray-800 p-8 shadow-xl transition hover:border-blue-500/10 hover:shadow-blue-500/10"
          href="#contact"
          >
          <Image src={AIMLIcon} alt="Artificial Intelligence & ML Icon" />
  
              <h2 class="mt-4 text-xl font-bold text-white">Artificial Intelligence & ML</h2>
  
              <p class="mt-1 text-sm text-gray-300">
                  Leverage the power of AI & ML to make your business smarter and more efficient
              </p>
          </a>
        </div>
      </div>
    </section>
    <!-- End Solution Section -->

    <!-- Start About Section -->
    <div id="about" class="home3-about-section sec-mar">
      <div class="container">
        <div class="row g-lg-4 gy-5">
          <div class="col-lg-12">
            <div
              class="section-title-3 wow animate fadeInUp"
              data-wow-delay="200ms"
              data-wow-duration="1500ms"
            >
              <h2 aria-label="Our Approach">Our Approach</h2>
            </div>
            <div class="about-left">
              <div
                class="about-content wow animate fadeInUp"
                data-wow-delay="400ms"
                data-wow-duration="1500ms"
              >
                <div class="devider"></div>
                <ul class="about-feature">
                  <li>
                    <h5 aria-label="Discover & Define">1. Discover & Define</h5>
                    <p>
                      A mapping of all the flows of the platform is carried out, to analyze and
                      evaluate the complexity and determinate possible solutions that can be
                      given to our problem.
                    </p>
                  </li>
                  <li>
                    <h5 aria-label="Conceptualize">2. Conceptualize</h5>
                    <p>
                      Ideation of visual solutions for evaluated flows, also with rapid
                      prototyping to test the effectiveness of these solutions. Raise front-end
                      impact if necessary.
                    </p>
                  </li>
                  <li>
                    <h5 aria-label="Build">3. Build</h5>
                    <p>
                      Implement the product solutions, optimize your systems and increase the
                      engagement of your platform.
                    </p>
                  </li>
                  <li>
                    <h5 aria-label="Maintain">4. Maintain</h5>
                    <p>
                      Efficiently maintain and continuously improve your digital product to
                      ensure ROI and ongoing value for your customers.
                    </p>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- End About Section -->

    <!-- Start CTA Section -->
    <div class="home3-cta-section">
      <div class="container">
        <div class="row flex items-center">
          <div class="col-lg-9">
            <div class="section-title-3 wow animate fadeInUp">
              <h2 aria-label="We serve as your dedicated SWAT team, enhancing new ideas & existing products into customized, polished, and scalable solutions">
                We serve as your dedicated SWAT team, enhancing new ideas &
                existing products into customized, polished, and scalable
                solutions
              </h2>
            </div>
          </div>
          <div class="col-lg-3">
            <div class="banner-btn-group">
              <a class="primary-btn inline-flex" href="#contact"
                >Let's Talk
                <Image src={ArrowUpIcon} alt="let's talk icon" />
              </a>
            </div>
            <Image
              class="img-fluid decorative hidden md:block"
              src={GridImage}
              loading="eager"
              alt=""
            />
          </div>
        </div>
      </div>
    </div>
    <!-- End CTA Section -->

    <!-- Start Contact section -->
    <div class="home3-contact-area">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
              <div class="contact-page-wrap sec-mar text-center">
                <div id="contact"  class="container">
                  <div class="row g-lg-4 gy-5 justify-center">
                    <div class="col-lg-12">
                      <div class="contact-content">
                        <h2>
                          Get in touch
                        </h2>
                      </div>
                    </div>
                    <div class="col-lg-6">
                      <div class="contact-form-wrap">
                        <div class="form-tltle">
                          <h3 class="text-2xl text-white">
                            Let’s transform your business
                          </h3>
                          <p class="text-white">You can reach us anytime via <a href="mailto:info@jay-software.com">info@jay-software.com</a></p>
                        </div>
                        <div class="contact-form">
                          <form
                            action="https://formspree.io/f/mqkrgoeq"
                            method="POST"
                          >
                            <div class="row text-left">
                              <div class="col-lg-12 mb-4">
                                <div class="form-inner">
                                  <label for="email">Email</label>
                                  <input type="email" name="email" id="email"/>
                                </div>
                              </div>
                              <div class="col-lg-12 mb-4">
                                <div class="form-inner">
                                  <label for="message">Message</label>
                                  <textarea name="message" id="message"></textarea>
                                </div>
                              </div>
                              <div class="col-lg-12 mb-4">
                                <div class="form-inner">
                                  <input required type="checkbox" name="privacy" id="privacy">
                                  <label for="privacy">You agree to our friendly <a href="/privacy" target="_blank">privacy policy</a></label>
                                </div>
                              </div>
                              <div class="col-lg-12">
                                <div class="form-inner">
                                  <button class="primary-btn3 text-white" type="submit"
                                    >Send</button
                                  >
                                </div>
                              </div>
                            </div>
                          </form>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
        </div>
      </div>
    </div>
    <!-- End Contact section -->
</Layout>
